
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#6d0088;
    --second-color: #e6e6e6;
    --third-color:#c932ee;
    --eletronicos-color:#2E8B57;
    --informatica-color:#DAA520;
    --fonte: Roboto, sans-serif
}

.corEletronicos{
    color: var(--eletronicos-color);
}

.corInformatica{
    color: var(--informatica-color);
}

body{
    min-width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-areas: 
    "head",
    "main",
    "foot";
    grid-template-rows: 50px 1fr 50px;
    font-family: var(--fonte);
}

body > header{
    grid-area: "head";
}

body > main{
    grid-area: "main";
}

body > footer{
    grid-area: "foot";
}

header{
    background: linear-gradient(45deg, var(--primary-color), var(--third-color));
    display: flex; 
    justify-content: flex-end;
}

nav{
    margin-right: 50px;
}

nav ul{
    display: flex;
    width: 100%;
    gap: 50px;
    align-items: center;
}

ul li{
    font-size: 20px;
    color: #a9a9a9;
    transition: all 0.9s ease;
}

ul li:hover{
    color: var(--primary-color);
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

main{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 200px 1fr;
}
main .principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}
footer{
    background-color: var(--third-color);
}

.card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;    
    padding: 15px;
    font-size: 1em;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    transition: transform 0.3s ease;
}

.card img{
    height: 200px;
    width: auto;
    object-fit: cover;
    border-radius: 1 / 1;
}

.card:hover, .card:hover img{
    transform: scale(1.1);
}

.categoria{
    font-size: 26px;
    font-weight: bold;
}

.descricao{
    font-size: 0.9rem;
}

.preco{
    color: var(--primary-color);
    font-weight: 900;
}
